// faq
.faq {
  padding: 80px 0 264px;

  @include pad {
    padding: 40px 0 64px;
  }

  @include phone {
    padding: 24px 0 36px;
  }
}

.faqTitle {
  font-size: $font-3xl;
  line-height: $line-height-sm;
  margin-bottom: 36px;

  @include pad {
    font-size: $font-4xl;
  }

  @include phone {
    font-size: $font-l;
    margin-bottom: 12px;
  }
}

.faqText {
  margin-bottom: 40px;

  @include phone {
    margin-bottom: 20px;
  }
}

.q {
  font-size: $font-l;
  line-height: $line-height-sm;
  margin-bottom: 16px;

  @include phone {
    font-size: $font-m;
    line-height: $line-height;
    margin-bottom: 8px;
  }
}

.answer {
  font-size: $font-m;
  line-height: $line-height;
  margin-left: 95px;

  @include pad {
    margin-left: 59px;
  }

  @include phone {
    font-size: $font-s;
    margin-left: 0;
  }
}