/* nav */
.header {
  padding: 20px 88px;

  @include pad {
    padding: 30px 39px;
  }

  @include phone {
    padding: 0;
  }
}

.nav {
  @include pad {
    max-width: 690px;
    margin: 0 auto;
  }

  @include phone {
    max-width: 100%;
    flex-direction: column;
  }
}

.logo {
  @include phone {
    max-width: 48px;
    padding: 10px 0;
  }
}

.logo a {
  display: block;
  width: 80px;
  height: 49px;
  background: url(../images/icon/logo.png) center/cover;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 101%;

  @include phone {
    width: 48px;
    height: 29px;
  }
}

.menu {
  @include phone {
    width: 100%;
  }

  li {
    @include phone {
      flex-basis: 50%;
      text-align: center;
      border: 1px solid #fff;
    }
  }


  a {
    display: block;
    font-size: $font-l;
    line-height: $line-height-sm;
    padding: 10px 32px;
    border-bottom: 2px solid transparent;
    transition: .5s;

    @include pad {
      line-height: $line-height;
    }

    @include phone {
      max-width: 100%;
      padding: 8px 0;
      line-height: $line-height-sm;
    }

    &:hover {
      border-bottom: 2px solid $color-light;
    }
  }
}





/* footer */
.footer {
  padding-top: 28px;

  @include pad {
    padding: 40px 0 0;
  }

  @include phone {
    padding: 24px 0 0;
  }
}

.info {
  border-bottom: 1px solid#fff;

  @include pad {
    padding-bottom: 16px;
  }

  @include phone {
    position: relative;
    padding-bottom: 24px;
  }

  li {

    @include pad {
      font-size: $font-m;
      line-height: $line-height;
    }
  }
}

.footerNav {
  margin-bottom: 18px;

  @include pad {
    margin-bottom: 24px;
  }

  @include phone {
    justify-content: flex-end;
  }

  .menu {
    position: relative;
    left: -24px;

    @include phone {
      display: none;
    }

    a {
      padding: 8px 24px;

      @include pad {
        padding: 8px 20px;
      }
    }
  }
}

.sns {
  a {
    display: block;
    width: 48px;
    height: 48px;
    margin-right: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 101%;
    transition: 0.5s;

    &:hover {
      transform: translate(-5px, -5px);
    }

    @include pad {
      width: 24px;
      height: 24px;
      margin-right: 24px;
    }
  }

  .fb-logo {
    background: url(../images/icon/ic_social_fb.svg)center/cover;
  }

  .ig-logo {
    background: url(../images/icon/ic_social_ig.svg)center/cover;
  }

  .line-logo {
    background: url(../images/icon/ic_social_line.svg)center/cover;
    margin-right: 0;

    @include pad {
      margin-right: 0;
    }
  }
}

.contactMethod {
  @include phone {
    position: absolute;
    top: 0;
    left: 0;
  }

  li {
    margin-bottom: 20px;

    @include pad {
      margin-bottom: 8px;
    }
  }

  a {
    font-size: $font-4xl;
    line-height: $line-height-sm;
    border-bottom: 2px solid transparent;
    transition: .5s;

    @include pad {
      font-size: $font-l;
    }

    @include phone {
      font-size: $font-m;
    }

    &:hover {
      border-bottom: 2px solid $color-light;
    }
  }
}

.contactIcon {
  margin-right: 16px;

  @include pad {
    max-width: 32px;
    margin-right: 16px;
  }

  @include phone {
    max-width: 20px;
    margin-right: 5px;
  }
}

.phoneIcon {
  width: 44px;

  @include pad {
    width: 24px;
  }
}

.infoFooter {
  padding: 24px 0 28px;

  @include pad {
    padding: 24px 0 40px;
  }

  @include phone {
    display: block;
    padding: 18px 0 17px;
    position: relative;
  }
}

.copyright {
  .logo {
    margin-right: 38px;

    @include pad {
      display: none;
    }

    @include phone {
      display: inline-block;
      position: absolute;
      top: 68px;
      right: 0;
      padding: 0;
      margin: 0;
    }

    a {
      @include phone {
        width: 46px;
        height: 28px;
      }
    }
  }


  p {
    font-size: $font-m;
    line-height: $line-height-sm;

    @include phone {
      font-size: $font-s;
      margin-bottom: 8px;
    }
  }
}

.otherInfo {
  @include phone {
    flex-direction: column;
  }

  li {
    margin-right: 62px;

    @include pad {
      margin-right: 24px;
    }

    @include phone {
      font-size: $font-s;
      line-height: $line-height-sm;
      margin-bottom: 8px;
      white-space: nowrap;
    }
  }

  li:last-child {
    margin-right: 0;

    @include pad {
      margin-right: 0;
    }
  }

  a {
    font-size: $font-s;
    line-height: $line-height;
    border-bottom: 2px solid transparent;
    padding: 8px 0;
    transition: .5s;

    &:hover {
      background-image: linear-gradient(0deg, $color-primary-darker 0%, transparent 33%);
    }
  }
}