//color			
$color-primary: #AA0601;
$color-primary-lighter:#FBF2F2;
$color-primary-darker: #650300;
$color-secondary: #212529;
$color-secondary-lighter: #707070;
$color-secondary-darker: #000;
$color-light: #DEE2E6;
$color-lighter: #FFF;


//font
$base-font-size: 1rem;
$line-height: 1.5;
$line-height-sm: 1.4;
$font-7xl: $base-font-size * 4.5;
$font-6xl: $base-font-size * 4;
$font-5xl: $base-font-size * 3;
$font-4xl: $base-font-size * 2.25;
$font-3xl: $base-font-size * 2;
$font-2xl: $base-font-size * 1.75;
$font-xl: $base-font-size * 1.5;
$font-l: $base-font-size * 1.25;
$font-m: $base-font-size;
$font-s: $base-font-size * 0.875;

$font-primary: Roboto,
regular;
$font-secondary: 'Noto Sans TC',
regular;

$font-bold: 700;
$font-black: 900;
$font-medium: 500;
$font-regular: 400;