/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* CSS RESET OVER */
.bg-primary {
  background-color: #AA0601; }

.bg-secondary {
  background-color: #FBF2F2; }

.text-primary {
  color: #650300; }

.text-primary-lighter {
  color: #AA0601; }

.text-light {
  color: #DEE2E6; }

.text-lighter {
  color: #FFF; }

.text-secondary-lighter {
  color: #707070; }

.text-secondary {
  color: #212529; }

.text-secondary-darker {
  color: #000; }

.font-black {
  font-weight: 900; }

.font-bold {
  font-weight: 700; }

.font-medium {
  font-weight: 500; }

.font-regular {
  font-weight: 400; }

/* all */
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex-jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-jc-sbetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: Roboto, regular, Roboto, regular, "PingFang TC", Semibold, "Microsoft JhengHei", sans-serif; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

a {
  text-decoration: none; }

.container {
  max-width: 1110px;
  margin: 0 auto; }
  @media (max-width: 1024px) {
    .container {
      max-width: 690px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 345px; } }

@media (max-width: 1024px) {
  .nav {
    max-width: 690px; } }

@media (max-width: 767px) {
  .nav {
    max-width: 100%; } }

.wrap {
  max-width: 66%;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .wrap {
      max-width: 345px; } }

.subBanner {
  height: 304px;
  background: url(../images/img/qa.png) center/cover no-repeat; }
  @media (max-width: 767px) {
    .subBanner {
      height: 143px; } }
  .subBanner .container {
    height: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }

.bannerTitle h2 {
  margin-right: 24px;
  font-size: 4rem;
  line-height: 1.4; }
  @media (max-width: 1024px) {
    .bannerTitle h2 {
      margin-right: 16px;
      font-size: 3rem; } }
  @media (max-width: 767px) {
    .bannerTitle h2 {
      margin-right: 8px;
      font-size: 1.75rem; } }

.bannerTitle img {
  width: 60px; }
  @media (max-width: 1024px) {
    .bannerTitle img {
      width: 48px; } }
  @media (max-width: 767px) {
    .bannerTitle img {
      width: 24px; } }

.title {
  font-size: 48px;
  line-height: 67px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px; }
  @media (max-width: 1024px) {
    .title {
      font-size: 32px;
      line-height: 45px;
      margin-bottom: 32px; } }
  @media (max-width: 767px) {
    .title {
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 20px; } }

/* nav */
.header {
  padding: 20px 88px; }
  @media (max-width: 1024px) {
    .header {
      padding: 30px 39px; } }
  @media (max-width: 767px) {
    .header {
      padding: 0; } }

@media (max-width: 1024px) {
  .nav {
    max-width: 690px;
    margin: 0 auto; } }

@media (max-width: 767px) {
  .nav {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media (max-width: 767px) {
  .logo {
    max-width: 48px;
    padding: 10px 0; } }

.logo a {
  display: block;
  width: 80px;
  height: 49px;
  background: url(../images/icon/logo.png) center/cover;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 101%; }
  @media (max-width: 767px) {
    .logo a {
      width: 48px;
      height: 29px; } }

@media (max-width: 767px) {
  .menu {
    width: 100%; } }

@media (max-width: 767px) {
  .menu li {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-align: center;
    border: 1px solid #fff; } }

.menu a {
  display: block;
  font-size: 1.25rem;
  line-height: 1.4;
  padding: 10px 32px;
  border-bottom: 2px solid transparent;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  @media (max-width: 1024px) {
    .menu a {
      line-height: 1.5; } }
  @media (max-width: 767px) {
    .menu a {
      max-width: 100%;
      padding: 8px 0;
      line-height: 1.4; } }
  .menu a:hover {
    border-bottom: 2px solid #DEE2E6; }

/* footer */
.footer {
  padding-top: 28px; }
  @media (max-width: 1024px) {
    .footer {
      padding: 40px 0 0; } }
  @media (max-width: 767px) {
    .footer {
      padding: 24px 0 0; } }

.info {
  border-bottom: 1px solid #fff; }
  @media (max-width: 1024px) {
    .info {
      padding-bottom: 16px; } }
  @media (max-width: 767px) {
    .info {
      position: relative;
      padding-bottom: 24px; } }
  @media (max-width: 1024px) {
    .info li {
      font-size: 1rem;
      line-height: 1.5; } }

.footerNav {
  margin-bottom: 18px; }
  @media (max-width: 1024px) {
    .footerNav {
      margin-bottom: 24px; } }
  @media (max-width: 767px) {
    .footerNav {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }
  .footerNav .menu {
    position: relative;
    left: -24px; }
    @media (max-width: 767px) {
      .footerNav .menu {
        display: none; } }
    .footerNav .menu a {
      padding: 8px 24px; }
      @media (max-width: 1024px) {
        .footerNav .menu a {
          padding: 8px 20px; } }

.sns a {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 101%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .sns a:hover {
    -webkit-transform: translate(-5px, -5px);
        -ms-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px); }
  @media (max-width: 1024px) {
    .sns a {
      width: 24px;
      height: 24px;
      margin-right: 24px; } }

.sns .fb-logo {
  background: url(../images/icon/ic_social_fb.svg) center/cover; }

.sns .ig-logo {
  background: url(../images/icon/ic_social_ig.svg) center/cover; }

.sns .line-logo {
  background: url(../images/icon/ic_social_line.svg) center/cover;
  margin-right: 0; }
  @media (max-width: 1024px) {
    .sns .line-logo {
      margin-right: 0; } }

@media (max-width: 767px) {
  .contactMethod {
    position: absolute;
    top: 0;
    left: 0; } }

.contactMethod li {
  margin-bottom: 20px; }
  @media (max-width: 1024px) {
    .contactMethod li {
      margin-bottom: 8px; } }

.contactMethod a {
  font-size: 2.25rem;
  line-height: 1.4;
  border-bottom: 2px solid transparent;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  @media (max-width: 1024px) {
    .contactMethod a {
      font-size: 1.25rem; } }
  @media (max-width: 767px) {
    .contactMethod a {
      font-size: 1rem; } }
  .contactMethod a:hover {
    border-bottom: 2px solid #DEE2E6; }

.contactIcon {
  margin-right: 16px; }
  @media (max-width: 1024px) {
    .contactIcon {
      max-width: 32px;
      margin-right: 16px; } }
  @media (max-width: 767px) {
    .contactIcon {
      max-width: 20px;
      margin-right: 5px; } }

.phoneIcon {
  width: 44px; }
  @media (max-width: 1024px) {
    .phoneIcon {
      width: 24px; } }

.infoFooter {
  padding: 24px 0 28px; }
  @media (max-width: 1024px) {
    .infoFooter {
      padding: 24px 0 40px; } }
  @media (max-width: 767px) {
    .infoFooter {
      display: block;
      padding: 18px 0 17px;
      position: relative; } }

.copyright .logo {
  margin-right: 38px; }
  @media (max-width: 1024px) {
    .copyright .logo {
      display: none; } }
  @media (max-width: 767px) {
    .copyright .logo {
      display: inline-block;
      position: absolute;
      top: 68px;
      right: 0;
      padding: 0;
      margin: 0; } }
  @media (max-width: 767px) {
    .copyright .logo a {
      width: 46px;
      height: 28px; } }

.copyright p {
  font-size: 1rem;
  line-height: 1.4; }
  @media (max-width: 767px) {
    .copyright p {
      font-size: 0.875rem;
      margin-bottom: 8px; } }

@media (max-width: 767px) {
  .otherInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.otherInfo li {
  margin-right: 62px; }
  @media (max-width: 1024px) {
    .otherInfo li {
      margin-right: 24px; } }
  @media (max-width: 767px) {
    .otherInfo li {
      font-size: 0.875rem;
      line-height: 1.4;
      margin-bottom: 8px;
      white-space: nowrap; } }

.otherInfo li:last-child {
  margin-right: 0; }
  @media (max-width: 1024px) {
    .otherInfo li:last-child {
      margin-right: 0; } }

.otherInfo a {
  font-size: 0.875rem;
  line-height: 1.5;
  border-bottom: 2px solid transparent;
  padding: 8px 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .otherInfo a:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#650300), color-stop(33%, transparent));
    background-image: -o-linear-gradient(bottom, #650300 0%, transparent 33%);
    background-image: linear-gradient(0deg, #650300 0%, transparent 33%); }

/* banner */
.banner {
  height: 840px;
  background: url(../images/img/banner.png) center/cover no-repeat; }
  @media (max-width: 767px) {
    .banner {
      height: 394px;
      background: url(../images/img/banner-sm.png) left/cover no-repeat; } }
  .banner .container {
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

.topic {
  font-size: 4rem;
  line-height: 1.4;
  text-align: right; }
  @media (max-width: 1024px) {
    .topic {
      font-size: 3rem;
      line-height: 1.5; } }
  @media (max-width: 767px) {
    .topic {
      font-size: 2rem;
      line-height: 1.4; } }
  .topic span {
    font-size: 2.25rem; }
    @media (max-width: 1024px) {
      .topic span {
        font-size: 1.25rem; } }
    @media (max-width: 767px) {
      .topic span {
        font-size: 1rem; } }

/* service */
.about {
  padding: 64px 0 80px; }
  @media (max-width: 1024px) {
    .about {
      padding: 40px 0; } }
  @media (max-width: 767px) {
    .about {
      padding: 32px 0 12px; } }

.service {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }
  .service li {
    width: 18%;
    margin: 0 24px; }
    @media (max-width: 1024px) {
      .service li {
        width: 34%; } }
    @media (max-width: 767px) {
      .service li {
        width: 69%;
        margin: 0 auto; } }
  .service img {
    width: 100px;
    margin-bottom: 40px; }
    @media (max-width: 1024px) {
      .service img {
        width: 80px;
        margin-bottom: 16px; } }
    @media (max-width: 767px) {
      .service img {
        width: 80px;
        margin-bottom: 16px; } }
  .service h3 {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 4px; }
    @media (max-width: 1024px) {
      .service h3 {
        font-size: 1.25rem;
        line-height: 1.5;
        margin-bottom: 8px; } }
    @media (max-width: 767px) {
      .service h3 {
        line-height: 1.4;
        margin-bottom: 8px; } }
  @media (max-width: 1024px) {
    .service p {
      margin-bottom: 40px; } }

/* product */
.product {
  padding: 64px 0 40px; }
  @media (max-width: 1024px) {
    .product {
      padding: 40px 0 32px; } }
  @media (max-width: 767px) {
    .product {
      padding: 32px 0 24px; } }

.category li {
  margin-bottom: 32px; }
  @media (max-width: 1024px) {
    .category li {
      margin-bottom: 8px; } }

.category a {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  @media (max-width: 1024px) {
    .category a {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  @media (max-width: 767px) {
    .category a {
      width: 100%;
      position: relative;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .category a:hover {
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px); }

.category img {
  width: 60%;
  margin-right: 30px; }
  @media (max-width: 1024px) {
    .category img {
      width: 390px; } }
  @media (max-width: 767px) {
    .category img {
      width: 100%;
      margin-right: 0; } }

@media (max-width: 1024px) {
  .category .icon {
    width: 32px; } }

@media (max-width: 767px) {
  .category .icon {
    display: none; } }

@media (max-width: 767px) {
  .categoryTitle {
    position: absolute; } }

.categoryTitle .icon {
  width: 48px;
  margin-right: 8px; }

.categoryTitle .iconWhite {
  display: none; }
  @media (max-width: 767px) {
    .categoryTitle .iconWhite {
      display: block;
      width: 32px;
      margin-right: 8px; } }

.categoryName {
  font-style: italic;
  font-size: 3rem;
  line-height: 1.4; }
  @media (max-width: 1024px) {
    .categoryName {
      font-size: 1.75rem; } }
  @media (max-width: 767px) {
    .categoryName {
      color: #fff; } }

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  .reverse img {
    margin-right: 0; }
    @media (max-width: 1024px) {
      .reverse img {
        margin-right: 30px; } }
    @media (max-width: 767px) {
      .reverse img {
        margin-right: 0px; } }
  .reverse .icon {
    margin-right: 8px; }
  .reverse .categoryName {
    margin-right: 30px; }
    @media (max-width: 1024px) {
      .reverse .categoryName {
        margin-right: 0px; } }

/* collaboration */
.collaboration {
  background: url(../images/img/bg.png) center/cover no-repeat;
  padding: 64px 0 80px; }
  @media (max-width: 1024px) {
    .collaboration {
      padding: 40px 0; } }
  @media (max-width: 767px) {
    .collaboration {
      padding: 32px 16; } }

.series li {
  width: 48%;
  position: relative; }
  @media (max-width: 767px) {
    .series li {
      width: 100%;
      margin-bottom: 16px; } }
  .series li:hover {
    -webkit-box-shadow: 0 0 20px rgba(255, 3, 3, 0.8);
            box-shadow: 0 0 20px rgba(255, 3, 3, 0.8); }

.series a::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.series h3 {
  font-size: 4.5rem;
  line-height: 1.4;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap; }
  @media (max-width: 1024px) {
    .series h3 {
      font-size: 2rem; } }

/* review */
.review {
  padding: 64px 0; }
  @media (max-width: 1024px) {
    .review {
      padding: 40px 0 11px; } }
  @media (max-width: 767px) {
    .review {
      padding: 32px 0 16px; } }

.reviewList li {
  width: 23%; }
  @media (max-width: 1024px) {
    .reviewList li {
      width: 47%;
      margin-bottom: 28px; } }
  @media (max-width: 767px) {
    .reviewList li {
      width: 93%;
      margin-bottom: 0 auto 16px; } }

.reviewText {
  padding: 14px 16px 5px;
  border: 1px solid #DEE2E6; }
  @media (max-width: 1024px) {
    .reviewText {
      padding: 16px;
      border: 1px solid #DEE2E6; } }
  .reviewText h4 {
    font-size: 0.875rem;
    line-height: 1.4;
    margin-bottom: 7px; }
    @media (max-width: 1024px) {
      .reviewText h4 {
        margin-bottom: 16px; } }
  .reviewText p {
    margin-bottom: 10px; }
    @media (max-width: 1024px) {
      .reviewText p {
        margin-bottom: 16px; } }
  .reviewText .updateTime {
    font-size: 0.875rem;
    line-height: 1.4; }
    @media (max-width: 1024px) {
      .reviewText .updateTime {
        margin-bottom: 0px; } }

/* contact */
.contact {
  padding: 64px 0 64px; }
  @media (max-width: 1024px) {
    .contact {
      padding: 40px 0; } }
  @media (max-width: 767px) {
    .contact {
      padding: 32px 0; } }
  .contact .title {
    margin-bottom: 24px; }
    @media (max-width: 1024px) {
      .contact .title {
        margin-bottom: 16px; } }
  .contact p {
    font-size: 1.25rem;
    margin-bottom: 20px; }
    @media (max-width: 1024px) {
      .contact p {
        font-size: 1rem;
        margin-bottom: 12px; } }
    @media (max-width: 767px) {
      .contact p {
        margin-bottom: 8px; } }

.contactForm {
  width: 100%; }

.inputGroup {
  margin-bottom: 16px; }
  @media (max-width: 1024px) {
    .inputGroup {
      margin-bottom: 8px; } }
  .inputGroup label {
    line-height: 1.4; }
    @media (max-width: 1024px) {
      .inputGroup label {
        font-size: 0.875rem; } }
  .inputGroup input,
  .inputGroup textarea {
    display: block;
    width: 100%;
    padding: 16px; }
    @media (max-width: 1024px) {
      .inputGroup input,
      .inputGroup textarea {
        padding: 12px; } }
    @media (max-width: 767px) {
      .inputGroup input,
      .inputGroup textarea {
        padding-top: 10px;
        padding-left: 12px; } }

.checkboxGroup {
  margin-bottom: 42px; }
  @media (max-width: 1024px) {
    .checkboxGroup {
      margin-bottom: 20px; } }
  @media (max-width: 767px) {
    .checkboxGroup {
      margin-bottom: 24px; } }
  .checkboxGroup input {
    cursor: pointer; }

.submit {
  display: block;
  line-height: 1.4;
  padding: 16px 143px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .submit:hover {
    background-color: #650300; }
  @media (max-width: 1024px) {
    .submit {
      font-size: 0.875rem;
      padding: 8px 78px; } }
  @media (max-width: 767px) {
    .submit {
      line-height: 1.5;
      padding: 8px 54.5px; } }

.bannerTitle .shopLocationIcon {
  width: 40px; }
  @media (max-width: 1024px) {
    .bannerTitle .shopLocationIcon {
      width: 30.5px; } }
  @media (max-width: 767px) {
    .bannerTitle .shopLocationIcon {
      width: 17px; } }

.shop {
  padding: 22px 0 272px; }
  @media (max-width: 1024px) {
    .shop {
      padding: 8px 0 84px; } }
  @media (max-width: 767px) {
    .shop {
      padding: 8px 0 40px; } }

.selectArea {
  margin-bottom: 38px; }
  @media (max-width: 1024px) {
    .selectArea {
      margin-bottom: 24px; } }
  @media (max-width: 767px) {
    .selectArea {
      margin-bottom: 20px; } }
  .selectArea label {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-right: 20px; }
    @media (max-width: 1024px) {
      .selectArea label {
        font-size: 1rem; } }
    @media (max-width: 767px) {
      .selectArea label {
        font-size: 0.875rem;
        margin-right: 12px; } }
  .selectArea select {
    width: 324px;
    padding: 10px 0 10px 19px;
    line-height: 1.4;
    border: 1px solid #CED4DA;
    color: #495057;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .selectArea select:hover {
      background-color: #AA0601;
      color: #FFF; }
    @media (max-width: 1024px) {
      .selectArea select {
        width: 237px;
        padding: 12px 0 12px 16px; } }
    @media (max-width: 767px) {
      .selectArea select {
        width: 277px;
        font-size: 0.875rem;
        padding: 8px 0 8px 16px; } }

@media (max-width: 1024px) {
  .shopList {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.shopCard {
  width: 31%;
  margin-right: 30px;
  margin-bottom: 32px; }
  @media (max-width: 1024px) {
    .shopCard {
      width: 48%;
      margin-right: 0;
      margin-bottom: 20px; } }
  @media (max-width: 767px) {
    .shopCard {
      width: 100%;
      margin-bottom: 16px; } }

.shopCard:nth-child(3n+3) {
  margin-right: 0; }

.shopPhoto {
  width: 100%;
  height: 224px; }
  @media (max-width: 1024px) {
    .shopPhoto {
      height: 164px; } }

.shopInfo {
  border: 1px solid #00000020; }
  .shopInfo h3 {
    border-bottom: 1px solid #00000020;
    font-size: 1.5rem;
    padding: 12px 0 12px 24px; }
    @media (max-width: 1024px) {
      .shopInfo h3 {
        font-size: 1rem;
        padding: 8px 0 8px 16px; } }
  .shopInfo ul {
    padding: 16px 24px 8px; }
  .shopInfo li {
    font-size: 1.25rem;
    margin-bottom: 8px; }
    @media (max-width: 1024px) {
      .shopInfo li {
        font-size: 0.875rem; } }
  .shopInfo img {
    max-width: 21px;
    max-height: 21px;
    margin-right: 12px; }
    @media (max-width: 1024px) {
      .shopInfo img {
        max-width: 20px;
        margin-right: 16px; } }
  .shopInfo .locationIcon {
    margin-top: 4px; }
    @media (max-width: 767px) {
      .shopInfo .locationIcon {
        margin-top: 0; } }

.moreInfo a {
  display: block;
  font-size: 19px;
  line-height: 26px;
  background-color: #000;
  border: 1px solid #00000020;
  padding: 20px 0;
  text-align: center;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .moreInfo a:hover {
    background-color: #AA0601; }
  @media (max-width: 1024px) {
    .moreInfo a {
      font-size: 0.875rem;
      line-height: 1.5;
      padding: 16px 0; } }

.map {
  padding: 16px 0 304px; }
  @media (max-width: 1024px) {
    .map {
      padding: 8px 0 104px; } }
  @media (max-width: 767px) {
    .map {
      padding: 8px 0 56px; } }

.mapShopCard {
  width: 40%;
  margin-right: 30px; }
  @media (max-width: 1024px) {
    .mapShopCard {
      width: 100%;
      margin-right: 0;
      margin-bottom: 32px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media (max-width: 767px) {
    .mapShopCard {
      display: block;
      margin-bottom: 16px; } }
  @media (max-width: 1024px) {
    .mapShopCard .shopPhoto {
      width: 47%; } }
  @media (max-width: 767px) {
    .mapShopCard .shopPhoto {
      width: 100%; } }

.mapImg {
  width: 57%; }
  @media (max-width: 1024px) {
    .mapImg {
      width: 100%; } }

.faq {
  padding: 80px 0 264px; }
  @media (max-width: 1024px) {
    .faq {
      padding: 40px 0 64px; } }
  @media (max-width: 767px) {
    .faq {
      padding: 24px 0 36px; } }

.faqTitle {
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 36px; }
  @media (max-width: 1024px) {
    .faqTitle {
      font-size: 2.25rem; } }
  @media (max-width: 767px) {
    .faqTitle {
      font-size: 1.25rem;
      margin-bottom: 12px; } }

.faqText {
  margin-bottom: 40px; }
  @media (max-width: 767px) {
    .faqText {
      margin-bottom: 20px; } }

.q {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 16px; }
  @media (max-width: 767px) {
    .q {
      font-size: 1rem;
      line-height: 1.5;
      margin-bottom: 8px; } }

.answer {
  font-size: 1rem;
  line-height: 1.5;
  margin-left: 95px; }
  @media (max-width: 1024px) {
    .answer {
      margin-left: 59px; } }
  @media (max-width: 767px) {
    .answer {
      font-size: 0.875rem;
      margin-left: 0; } }

/*# sourceMappingURL=all.css.map */
